@font-face {
    font-family: "Poppins";
    src: url('./fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

:root{
    --font: 'Poppins', sans-serif;

    --red: hsl(0, 100%, 74%) ;
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --font-color: hsl(249, 10%, 26%);
    --disclaimer: hsl(246, 25%, 77%);
}   

html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
    font-size: 1.6rem;

    background-color: var(--red);
    background-image: url('./images/bg-intro-desktop.png');
    background-position: center;
}

.main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto  auto;
    gap: 2vh;
    
    height: auto;
    max-width: 37.5rem;
    margin: 0vh 1rem;
}
.title__h1{
    text-align: center;

    color: white;
}
.title__p{
    margin-block-start: 2vh;

    text-align: center;
    font-weight: 500;

    color: white;
}

.promotion__message{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.5rem 7rem;
    margin-block-start: 0rem;

    border-radius: 1.2rem;
    background-color: var(--blue);
    box-shadow: 0rem 0.8rem 0rem 0rem rgba(0, 0, 0, 0.205);
    text-align: center;

    color: white;
}
.promotion__bold{
    font-weight: 700;
}
.main__form{
    margin-block-start: 2.5vh;
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;

    border-radius: 1.2rem;
    background-color: white;
    box-shadow: 0 0.8rem 0 0 rgba(0, 0, 0, 0.205);;
}
.form__text_input{
    width: 100%;
    height: 5.5rem;
    padding: 0 2rem;
    margin-block-start: 2vh;

    font-weight: 600;

    color: var(--font-color);
    border: solid 0.1rem rgb(196, 196, 196);
    border-radius: 0.5rem;
    outline: none;
}
.form__text_input:focus{
    border: solid 0.1rem var(--blue);
}

/*-------------Error Messages--------------*/
.form__error_message{
    position: relative;
    display: none;
    
    margin-block-start: 0.2rem;
    
    font-style: italic;
    text-align: right;
    font-size: 1.1rem;
    
    color: var(--red);
}
.form__error_icon{
    position: absolute;
    right: 3rem;
    top: -4.2rem;

    width: 2.5rem;
    height: 2.5rem;

    background-image: url('./images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: center;
}
/*---------------------------------------------*/

.form__button{
    display: block;

    width: 100%;
    height: 5.5rem;
    margin-block-start: 2vh;

    font-weight: 600;

    border-radius: 0.7rem;
    color: white;
    background-color: var(--green);
    border: none;
    box-shadow: 0 0.5rem 0 0 hsl(154, 82%, 38%);
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}
.form__button:active{
    transform: scale(0.95);   
}
.form__disclaimer{
    display: block;

    margin-block-start: 2vh;
    padding: 0 5rem;

    font-size: 1.1rem;
    text-align: center;

    color: rgb(134, 134, 134);
}
.form__link{
    text-decoration: none;
    font-weight: 700;

    color: var(--red);
}

@media screen and (max-height: 740px) {
    .main{
        margin: 5vh 1rem;
    }
}

@media screen and (min-width: 1230px) {
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 6rem;
        
        height: 80%;
        max-width: 110rem;
    }

    .main__title{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .title__h1{
        text-align: left;
        font-size: 4rem;

        padding-inline-end:  10rem;
    }
    .title__p{
        margin-block-start: 2vh;
    
        text-align: left;
    }

    .main__promotion{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;

        height: 100%;
    }

    .main__form{
        margin-block-start: 2.5rem;
        padding: 1.5rem 4rem 3.5rem 4rem;
    }

    .form__text_input{
        margin-block-start: 2rem;
    }

    .form__disclaimer{
        margin-block-start: 1.5rem;
        padding: 0 0rem;
    }

    /*-------------Error Messages--------------*/
    .form__error_message{      
        margin-block-start: 0.4rem;
    }
    .form__error_icon{
        top: -4.3rem;
    }
    /*---------------------------------------------*/
}

@media screen and (hover:hover){
    .form__button:hover{
        background-color: hsl(154, 82%, 69%);;
        border: none;
        box-shadow: 0 0.5rem 0 0 hsl(154, 82%, 38%);
    }
}

/*-----------modifiers--------------------------*/

.form__error_message--active{
    display: block;
}

.form__text_input--error{
    border: 0.2rem solid var(--red);
}

.form__text_input--error::placeholder{
    color: var(--red);
}